<div class="d-flex flex-column p-3 bg-light border-end h-100">
    <h5 class="mb-4">Меню</h5>

    <nav class="nav nav-pills flex-column">
        <NavLink class="nav-link" href="products" Match="NavLinkMatch.All">
            <i class="bi bi-list-ul me-2"></i> Товары
        </NavLink>
        <NavLink class="nav-link" href="addproduct">
            <i class="bi bi-plus-circle me-2"></i> Добавить товар
        </NavLink>
    </nav>
</div>
